<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:mysql://localhost:3306/freelancehub?useSSL=false&amp;serverTimezone=UTC</param-value>
    </context-param>
    <context-param>
        <param-name>db.user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>db.password</param-name>
        <param-value>1234</param-value>
    </context-param>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.freelancehub.freelancehub.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/views/client/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/views/freelancer/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/client/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/freelancer/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.freelancehub.freelancehub.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/views/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.freelancehub.freelancehub.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.freelancehub.freelancehub.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.freelancehub.freelancehub.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DbTestServlet</servlet-name>
        <servlet-class>com.freelancehub.freelancehub.controller.DbTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DbTestServlet</servlet-name>
        <url-pattern>/db-test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.freelancehub.freelancehub.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientDashboardServlet</servlet-name>
        <servlet-class>com.freelancehub.freelancehub.controller.ClientDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientDashboardServlet</servlet-name>
        <url-pattern>/client/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FreelancerDashboardServlet</servlet-name>
        <servlet-class>com.freelancehub.freelancehub.controller.FreelancerDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FreelancerDashboardServlet</servlet-name>
        <url-pattern>/freelancer/dashboard</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>